<h4> Квартира № <%= @apartment.apartment_number %></h4>
<br>
<h5>Лічильник електроенергії.</h5>
<br>
<br>
<br>

<table width="200"  cellspacing="2" cellpadding="4" border="2" >
  <tr bgcolor="#c0c0c0" >

      <th> Показник  </th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
  <%= form_with model: [@apartment, @electricity_counter] do |form| %>
    <tr>
      <td><div ><%= form.number_field(:value,{:max => 999999,:size => 7,method: :patch})%></td></div>
      <td> <%= form.submit  ({:class => 'btn btn-success', :value => 'Зберегти'})%></td>

<% end %>

  <% if current_apartment.admin?  %>
    <td><%= link_to ' Видалити', apartment_electricity_counter_path(@apartment, electricity_counter: @electricity_counter),
                    method: :delete,
                    data: { confirm: "Ви впевнені? Лічильник буде видалено!!!" } %></td>
  <% end %>
  </tr>

</table>






