<tr>
    <td><%= resident.apartment_number %></td>
    <td><%= resident.lastname %></td>
    <td><%= resident.name %></td>
    <td><%= resident.surname %></td>
    <td><%= resident.phone %></td>
    <td><%= resident.birthday %></td>
    <td><%= resident.owner %></td>
    <td><%= resident.tenant %></td>
    <td><%= link_to 'Змінити', edit_apartment_resident_path(@apartment)%></td>
    <td><%= link_to ' Видалити', apartment_resident_path(@apartment),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %></td>

</tr>



