
<tr >
    <td><%= resident.apartment_number %></td>
    <td><%= resident.lastname %></td>
    <td><%= resident.name %></td>
    <td><%= resident.surname %></td>
    <td><%= resident.phone %></td>
    <td><%= resident.birthday %></td>
    <td><%= resident.owner %></td>
    <td><%= resident.tenant %></td>
    <td><%= link_to 'Змінити', [resident.apartment, resident] %></td>
</tr>



