<h3> Квартира № <%= @apartment.apartment_number %></h3>
<br>
<h5><%= @resident.lastname%> <%=@resident.name[0]%>. <%=@resident.surname[0]%>.</h5>

<br>
<br>

<%= render 'residents/form', mode: 'edit' %>