<h1>Residents</h1>
<ul>
  <% @residents .each do |resident| %>
    <li>
      <%= resident.appartm %> <%= resident.lastname %> <%= resident.name_ %> <%= resident.surname %> <%= resident.telephone %> <%= resident.birthday %> <%= resident.owner_ %> <%= resident.tenant %>
    </li>
  <% end %>
</ul>
