<h1>Мешканці будинку</h1>

<h5>№  прізвище   ім'я   по батькові  телефон день народження власник квартири орендар квартири</h5>
<ul>
  <% @residents .each do |resident| %>
    <li>
      <%= link_to resident.id, resident %> <%= resident.apartment_number %> <%= resident.lastname %> <%= resident.name %> <%= resident.surname %> <%= resident.phone %> <%= resident.birthday %> <%= resident.owner %> <%= resident.tenant %>
    </li>
  <% end %>
</ul>

<%= link_to "Додати мешканця", new_resident_path %>