<p></p>
<p></p>
<p></p>
<p></p>
<h4><%= @resident.lastname%> <%=@resident.name[0]%>. <%=@resident.surname[0]%>.</h4>
<br>
<br>
<br>
<br>

<table width="300"  cellspacing="2" cellpadding="4" border="2" >
  <tr bgcolor="#c0c0c0" >
      <th > №квартири </th>
      <th> Прізвище  </th>
      <th> Ім'я  </th>
      <th> По-батькові  </th>
      <th> Телефон  </th>
      <th> День народження  </th>
      <th> Власник   </th>
      <th> Орендар   </th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
  <%= form_with model: [@apartment, @resident] do |form| %>
  <tr>
    <td><%= @resident.apartment_number %></td>
    <td><%= @resident.lastname%></td>
    <td><%= @resident.name %></td>
    <td><%= @resident.surname %></td>
    <td nowrap><%= form.telephone_field(:phone,{:maxlength => 18, method: :patch})%></td>
    <td><%= @resident.birthday %></td>
    <td><%= @resident.owner %></td>
    <td><%= @resident.tenant %></td>
    <td> <%= form.submit  ({:class => 'btn btn-success', :value => 'Зберегти'})%></td>

    <% if current_apartment.admin?  %>
    <td><%= link_to 'Змінити', edit_apartment_resident_path(@apartment, resident: @resident)%></td>
    <td><%= link_to ' Видалити', apartment_resident_path(@apartment, resident: @resident),
                    method: :delete,
                    data: { confirm: "Ви впевнені?" } %></td>
    <% end %>
  </tr>
  <%end %>
</table>
