<h2><%= @resident.resident_id %></h2>


<p><%= @resident.appartm %><%= @resident.name %> <%= @resident.lastname %> <%= @resident.surname %> <%= @resident.telephone %> <%= @resident.birthday %> <%= @resident.owner %> <%= @resident.tenant %> <%= @appartment.appartment_id%></p>
<ul>
  <li><%= link_to "Редагувати", edit_appartment_path(@article) %></li>
  <li><%= link_to "Видалити", appartment_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

