<br>
<br>
<caption>Квартира № <%= @apartment.apartment_number %></caption>
<br>
<table width="200"  cellspacing="0" cellpadding="5" border="1"  >
  <tr bgcolor="#c0c0c0" >
    <th> площа  </th>
    <th> опалення  </th>
    <th> показник:вода  </th>
    <th> показник:електроенергія  </th>
    <th> баланс  </th>
  </tr>

  <tr>
    <td><%= @apartment.apartment_area %></td>
    <td><%= @apartment.heating_counter %> </td>
    <td><%= @apartment.water_counter %></td>
    <td><%= @apartment.electricity_counter %> </td>
    <td><%= @apartment.arrears %></td>
    <td><%= link_to "Змінити", edit_apartment_path(@apartment) %></td>

  </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<caption>Мешканці квартири № <%= @apartment.apartment_number %></caption>

<table width="300"  cellspacing="0" cellpadding="5" border="1">

  <tr bgcolor="#c0c0c0">
    <th> №квартири </th>
    <th> Прізвище  </th>
    <th> Ім'я  </th>
    <th> По-батькові  </th>
    <th> Телефон  </th>
    <th> День народження  </th>
    <th> Власник   </th>
    <th> Орендар   </th>
  </tr>
  <%= render @apartment.residents %>
</table>
<br>







