<%= form_with model: apartment do |form| %>

  <% if current_apartment.admin?  %>

  <div>
    <%= form.label :'№ квартири', hidden: mode == 'edit'%><br>
    <%= form.number_field :apartment_number, in: 1..999, hidden: mode == 'edit'%><br>
  </div>

  <div>
    <%= form.label :'Площа квартири, м кв.', hidden: mode == 'edit' %><br>
    <%= form.number_field :apartment_area, in:25.0..150.0, hidden: mode == 'edit'%><br>
  </div>

    <% end %>

  <div>
    <%= form.label :'Новий пароль' %><br>
    <%= form.password_field(:password,{:class => 'form-control'})%><br>
  </div>

  <div>
    <%= form.label :'Підтвердити новий пароль' %><br>
    <%= form.password_field(:password_confirmation,{:class => 'form-control'})%><br>
  </div>

  <div>
    <%= form.submit ({:class => 'btn btn-success'})%>
  </div>

<% end %>