<%= form_with model: apartment do |form| %>

  <div>
    <%= form.label :'№ квартири'%><br>
    <%= form.number_field :apartment_number, in: 1..77%>
  </div>

  <div>
    <%= form.label :'Площа квартири' %><br>
    <%= form.number_field :apartment_area, in:25.0..150.0%><br>
  </div>

  <div>
    <%= form.label :'Оплачена вода' %><br>
    <%= form.number_field :water_is_paid, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Оплачена електроенергія' %><br>
    <%= form.number_field :electricity_is_paid, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Показник лічильніка води' %><br>
    <%= form.number_field :current_meters_water, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Показник лічильніка електроенергії' %><br>
    <%= form.number_field :current_meter_electricity, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Заборгованість' %><br>
    <%= form.number_field :arrears, in: 1.0..9999.0%><br>
  </div>


  <div>
    <%= form.submit ({:class => 'btn btn-success'})%>
  </div>

<% end %>