<%= form_with model: apartment do |form| %>


  <div>
    <%= form.label :'№ квартири'%><br>
    <%= form.number_field :apartment_number, in: 1..77%>
  </div>

  <div>
    <%= form.label :'Площа квартири' %><br>
    <%= form.number_field :apartment_area, in:25.0..150.0%><br>
  </div>

  <div>
    <%= form.label :'Опалення' %><br>
    <%= form.number_field :heating_counter, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Показник лічильніка: вода' %><br>
    <%= form.number_field :water_counter, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Показник лічильніка: електроенергія' %><br>
    <%= form.number_field :electricity_counter, in: 1.0..99999.0%><br>
  </div>

  <div>
    <%= form.label :'Баланс' %><br>
    <%= form.number_field :arrears, in: 1.0..9999.0%><br>
  </div>

  <div>
    <%= form.label :'Новий пароль' %><br>
    <%= form.password_field(:password,{:class => 'form-control'})%><br>
  </div>

  <div>
    <%= form.label :'Підтвердити новий пароль' %><br>
    <%= form.password_field(:password_confirmation,{:class => 'form-control'})%><br>
  </div>

  <div>
    <%= form.submit ({:class => 'btn btn-success'})%>
  </div>

<% end %>