<h1>Квартири</h1>

<h6> № площа сплачено:вода сплачено:електроенергія показник:вода показник:електроенергія  Борг</h6>
<ul>
  <% @apartments .each do |apartment| %>
    <li>
      <%= link_to apartment.apartment_number, apartment %>  <%= apartment.apartment_area %> <%= apartment.water_is_paid %> <%= apartment.electricity_is_paid %> <%= apartment.current_meters_water%> <%= apartment.current_meter_electricity %> <%= apartment.arrears%>
    </li>
  <% end %>
</ul>


<%= link_to "Додати квартиру", new_apartment_path %>