<br>
<br>

<caption>Квартири</caption>
<table width="200"  cellspacing="0" cellpadding="5" border="1" >
  <tr bgcolor="#c0c0c0">
    <th> №  </th>
    <th> площа, м кв. </th>
    <th> кількість мешканців </th>
    <th> опалення, кКал</th>
    <th> вода, м куб. </th>
    <th> електроенергія, кВт/год  </th>
    <th> баланс, грн  </th>
  </tr>

    <% @apartments .each do |apartment| %>

  <tr>
    <td><%= link_to apartment.apartment_number, apartment %></td>
    <td><%= apartment.apartment_area %></td>
    <!--Count without tenant-->
    <td><%= apartment.residents.where(:tenant => false ).count %></td>
    <td><%= apartment.heating_counter %></td>
    <td><%= apartment.water_counter%></td>
    <td><%= apartment.electricity_counter%></td>
      <td><%= apartment.arrears%></td>

    <% end %>
  </tr>

</table>
<br>
<%= link_to "Додати квартиру", new_apartment_path %>

