<br>
<br>

<caption>Квартири</caption>
<table width="200"  cellspacing="0" cellpadding="5" border="1" >
  <tr bgcolor="#c0c0c0">
    <th> №  </th>
    <th> площа  </th>
    <th> сплачено:вода  </th>
    <th> сплачено:електроенергія  </th>
    <th> показник:вода  </th>
    <th> показник:електроенергія  </th>
    <th> баланс  </th>
  </tr>

    <% @apartments .each do |apartment| %>

  <tr>
    <td><%= link_to apartment.apartment_number, apartment %></td>
    <td><%= apartment.apartment_area %></td>
    <td><%= apartment.water_is_paid %></td>
    <td><%= apartment.electricity_is_paid %></td>
    <td><%= apartment.current_meters_water%></td>
    <td><%= apartment.current_meter_electricity%></td>
      <td><%= apartment.arrears%></td>

    <% end %>
  </tr>

</table>
<br>
<%= link_to "Додати квартиру", new_apartment_path %>

