<h2>Квартира № <%= @apartment.apartment_number %></h2>


<p><%= @apartment.apartment_number%> <%= @apartment.apartment_area %> <%= @apartment.water_is_paid %> <%= @apartment.electricity_is_paid %> <%= @apartment.current_meters_water %> <%= @apartment.current_meter_electricity %> <%= @apartment.arrears %> </p>
<ul>
  <li><%= link_to "Редагувати", edit_apartment_path(@apartment) %></li>
  <li><%= link_to "Видалити", apartment_path(@apartment),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

